<section>
  <nz-card [nzTitle]="titleCard">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value,successTemplate,errorTemplate)">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Usuario</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validando..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="username"  maxlength="8"/>
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Por favor introduzca su nombre de usuario!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              El nombre de usuario ya esta en uso!
            </ng-container>
            <ng-container *ngIf="control.hasError('serverError')">
              Estamos experimentando problemas, disculpe las molestias.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" type="email"/>
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">
              No es un email válido!
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              Por favor introduzca su email!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Contraseña</nz-form-label>
        <div>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor introduzca su contraseña!">
            <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()"/>
          </nz-form-control>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Confirme su contraseña</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirm"/>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Por favor confirme su contraseña!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              La contraseña no coincide!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Fecha de nacimiento</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-date-picker formControlName="birthdate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="11" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Enviar</button>
          <button nz-button (click)="resetForm($event)">Borrar formulario</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  <ng-template #successTemplate>
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <i nz-icon nzType="smile" class="smile-face"></i>
          </span>
        <div class="ant-notification-notice-message">Usuario creado correctamente.</div>
        <div class="ant-notification-notice-description">
          Bienvenido al mejor club de pádel!
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #errorTemplate>
    <div class="ant-notification-notice-content">

      <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <i nz-icon nzType="frown" nzTheme="outline" class="frown-face"></i>
          </span>
        <div class="ant-notification-notice-message">Ha ocurrido un error.</div>
        <div class="ant-notification-notice-description">
          Lo sentimos, vuelve a intentarlo!
        </div>
      </div>
    </div>
  </ng-template>
</section>
