<section>
  <div class="hero-div-init">
    <h1>Club de Pádel</h1>
    <p>El club de
      <strong>pádel</strong>
      más divertido de
      <strong>Madrid</strong>
    </p>
  </div>
</section>
<section class='body-bottom'>
  <article class="article-1">
    <h3>Clases</h3>
    <p>En nuestro club de pádel no queremos que nuestras sesiones sean simples clases magistrales de técnica o
      táctica; queremos que la pista
      de pádel se convierta en un lugar donde nuestros alumnos puedan vivir experiencias enriquecedoras y momentos
      divertidos, donde mejorar en nuestro deporte a la vez que se estrechan lazos con los compañeros y los
      profesores.</p>
  </article>
  <article class="article-2">
    <h3>Entrenamientos personalizados</h3>
    <p>Este tipo de clases son una experiencia única tanto para jugador como para profesor. El jugador podrá
      exprimir
      al máximo los conocimientos del profesor y aprovechará íntegramente el tiempo de la clase. Para el profesor
      será
      un reto analizar y mejorar las condiciones exclusivas del jugador.
      En definitiva, trabajo y exclusividad al servicio de nuestros jugadores.</p>
  </article>
  <article class="article-3">
    <h3>Campeonatos</h3>
    <p>Otra buena forma de fomentar el deporte más allá de las clases es a través de los campeonatos que organiza
      el
      club. Los campeonatos se celebran todos los años, los alumnos se pueden inscribir y participar en los
      torneos
      maculinos, femeninos y mixtos </p>
  </article>
</section>
