<section class="container">
  <nz-card [nzCover]="coverTemplate">
    <nz-card-meta nzTitle=" Disponemos de:" [nzDescription]="description"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10524.42887796674!2d-3.631461884864183!3d40.38850528021028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x17812255cddaf648!2sUPM+Campus+Sur!5e1!3m2!1ses!2ses!4v1430431509038"
      frameborder="0">
    </iframe>
  </ng-template>
  <ng-template #description>
    <ul>
      <li>4 pistas de cristal cubiertas</li>
      <li>3 pistas de cristal semicubiertas</li>
      <li>3 pistas de cemento exteriores</li>
      <li>2 pistas de tenis</li>
      <li>Vestuarios completos</li>
      <li>Cafeteria con terraza</li>
    </ul>
  </ng-template>
</section>
