<nz-layout class="layout">
  <nz-header>
    <div class="logo">
      <a href="http://www.upm.es" target="_blank">
        <div class="logo-div">
          <img src="assets/images/logo.png" alt="logo">
          <span>Club de Pádel</span>
        </div>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="welcome">Inicio</li>
      <li nz-menu-item routerLink="news">Noticias</li>
      <li nz-menu-item routerLink="facilities">Instalaciones</li>
      <li nz-menu-item routerLink="booking">Reservar</li>
      <li class="right-menu" nz-menu-item routerLink="login"><i nz-icon nzType="login" nzTheme="outline"></i>Login</li>
      <li class="right-menu" nz-menu-item routerLink="sign-up">Registro</li>

    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
<!--  <nz-footer>©2019 Implement By RBN1993</nz-footer>-->
</nz-layout>
